<div class="mainclass">
    <nav class="navbar navbar-expand-lg " style="position: sticky; position: -webkit-sticky; top: 0;">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">superprof</a>

        <span class="help-icon">
          <a href="#" class="text-decoration-none"><i class="bi bi-question-circle"></i></a>
        </span>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <button type="button" class="nav-button" ><b>Give Private Classes</b></button>
            </li>
            <li class="nav-item">
              <button type="button" class="nav-button" ><b>Superprof Login</b></button>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    
    <!-- Search Section -->
    <section class="search-section">
      <h1 class="display-4"><b>Find the perfect teacher</b></h1>

      <!-- Search Bar -->
      <div class="container search-bar">
        <div class="row justify-content-center">
          <div class="col-lg-8 col-md-10">
            <div class="input-group">
              <input type="text" class="form-control search-input" placeholder='Try "Maths Tuition"'>
              <input type="text" class="form-control search-input" placeholder="Course location">
              <button class="btn search-btn">Search</button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="category-container">
        <div class="category-icons " style=" display: flex;overflow:auto;">
          <div class="category-item">
            <img src="assets/260.svg" alt="English">
            <p>English</p>
          </div>
          <div class="category-item">
            <img src="assets/132.svg" alt="Piano">
            <p>Piano</p>
          </div>
          <div class="category-item">
            <img src="assets/33.svg" alt="German">
            <p>German</p>
          </div>
          <div class="category-item">
            <img src="assets/260.svg" alt="English  Speaking">
            <p>English Speaking</p>
          </div>
          <div class="category-item">
            <img src="assets/19.svg" alt="Accounting">
            <p>Accounting</p>
          </div>
          <div class="category-item">
            <img src="assets/200.svg" alt="Chess">
            <p>Chess</p>
          </div>
          <div class="category-item">
            <img src="assets/178.svg" alt="Drawing">
            <p>Drawing</p>
          </div>
          <div class="category-item">
            <img src="assets/677.svg" alt="Python">
            <p>Python</p>
          </div>
          <div class="category-item">
            <img src="assets/462.svg" alt="Badminton">
            <p>Badminton</p>
          </div>
          <div class="category-item">
            <img src="assets/197.svg" alt="Cooking">
            <p>Cooking</p>
          </div>
          <div class="category-item">
            <img src="assets/104.svg" alt="Basic Computer">
            <p>Basic Computer</p>
          </div>
          <!-- Add more category items similarly -->
        </div>
      </div>
  </div>

