<footer class="bg-dark text-white pt-5" style="margin-top: 58px;">
    <div class="container">
      <div class="row">
        <div class="col-md-3 mb-4">
          <h5>About</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white-50">Who are we?</a></li>
            <li><a href="#" class="text-white-50">Our commitment</a></li>
            <li><a href="#" class="text-white-50">Terms & Conditions</a></li>
            <li><a href="#" class="text-white-50">Privacy Policy</a></li>
            <li><a href="#" class="text-white-50">Superprof around the world</a></li>
            <li><a href="#" class="text-white-50">Online Classes</a></li>
            <li><a href="#" class="text-white-50">States</a></li>
            <li><a href="#" class="text-white-50">Superprof recruits</a></li>
          </ul>
        </div>
        <div class="col-md-3 mb-4">
          <h5>All subjects</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white-50">Arts & hobbies</a></li>
            <li><a href="#" class="text-white-50">Professional Development</a></li>
            <li><a href="#" class="text-white-50">Computer Sciences</a></li>
            <li><a href="#" class="text-white-50">Languages</a></li>
            <li><a href="#" class="text-white-50">Music</a></li>
            <li><a href="#" class="text-white-50">Health & well-being</a></li>
            <li><a href="#" class="text-white-50">Academic tutoring</a></li>
            <li><a href="#" class="text-white-50">Sports</a></li>
          </ul>
        </div>
        <div class="col-md-3 mb-4">
          <h5>Join the adventure</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white-50">The Superprof Blog</a></li>
          </ul>
          <h5>Help</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white-50">Need help?</a></li>
            <li><a href="#" class="text-white-50">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-3 mb-4">
          <h5>Follow us</h5>
          <div class="d-flex">
            <img src="https://c.superprof.com/style/images/pictos/socials/facebook_light.svg" class="text-white-50 me-3"
              style="height: 28px;width: 30px;">
            <img src="https://c.superprof.com/style/images/pictos/socials/twitter_light.svg" class="text-white-50 me-3"
              style="height: 28px;width: 30px;">
            <img src="https://c.superprof.com/style/images/pictos/socials/instagram_light.svg" class="text-white-50"
              style="height: 28px;width: 30px;">
          </div>
        </div>
      </div>
      <div class="text-center mt-4">
        <hr class="bg-white-50">
        <p class="text-white-50 mb-0">&copy; 2024 Superprof, Learn with the best!</p>
      </div>
    </div>
  </footer>
