<div class="container">
    <h1 class="text-center mt-5 mb-4">29 Million Teachers to Choose Your Home Tutor From! ★★★★★</h1>
    <div class="card-container">
      <div class="card teacher-card">
        <figure><img
            src="assets/pexels-olly-733872.jpg"
            class="card-img" alt="Manisha"></figure>
        <div class="card-body">
          <h5 class="card-title">Manisha</h5>
          <p class="card-text">Bengaluru (online)</p>
        </div>
        <div class="card-footer">
          <div class="rating">
            <span class="star">★</span>
            <span class="star">5</span>

            <span class="text-muted">(25 reviews)</span>
          </div>
          <button class="btn btn-primary">+ Ambassador</button>
        </div>
      </div>
      <div class="card teacher-card">
        <img
          src="assets/pexels-olly-733872.jpg"
          class="card-img" alt="Gunjan">
        <div class="card-body">
          <h5 class="card-title">Gunjan</h5>
          <p class="card-text">New Delhi (face to face & online)</p>
        </div>
        <div class="card-footer">
          <div class="rating">
            <span class="star">★</span>
            <span class="star">5</span>

            <span class="text-muted">(168 reviews)</span>
          </div>
          <button class="btn btn-primary">+ Ambassador</button>
        </div>
      </div>
      <div class="card teacher-card">
        <img
          src="assets/pexels-olly-733872.jpg"
          class="card-img" alt="Dinesh">
        <div class="card-body">
          <h5 class="card-title">Dinesh</h5>
          <p class="card-text">Pune (face to face & online)</p>
        </div>
        <div class="card-footer">
          <div class="rating">
            <span class="star">★</span>
            <span class="star">4.9</span>

            <span class="text-muted">(168 reviews)</span>
          </div>
          <button class="btn btn-primary">+ Ambassador</button>
        </div>
      </div>

      <div class="card teacher-card">
        <img
          src="assets/pexels-olly-733872.jpg"
          class="card-img" alt="Gunjan">
        <div class="card-body">
          <h5 class="card-title">Gunjan</h5>
          <p class="card-text">New Delhi (face to face & online)</p>
        </div>
        <div class="card-footer">
          <div class="rating">
            <span class="star">★</span>
            <span class="star">5</span>

            <span class="text-muted">(168 reviews)</span>
          </div>
          <button class="btn btn-primary">+ Ambassador</button>
        </div>
      </div>

      <div class="card teacher-card">
        <img
          src="assets/pexels-olly-733872.jpg"
          class="card-img" alt="Gunjan">
        <div class="card-body">
          <h5 class="card-title">Gunjan</h5>
          <p class="card-text">New Delhi (face to face & online)</p>
        </div>
        <div class="card-footer">
          <div class="rating">
            <span class="star">★</span>
            <span class="star">5</span>

            <span class="text-muted">(168 reviews)</span>
          </div>
          <button class="btn btn-primary">+ Ambassador</button>
        </div>
      </div>

      <div class="card teacher-card">
        <img
          src="assets/pexels-olly-733872.jpg"
          class="card-img" alt="Gunjan">
        <div class="card-body">
          <h5 class="card-title">Gunjan</h5>
          <p class="card-text">New Delhi (face to face & online)</p>
        </div>
        <div class="card-footer">
          <div class="rating">
            <span class="star">★</span>
            <span class="star">5</span>

            <span class="text-muted">(168 reviews)</span>
          </div>
          <button class="btn btn-primary">+ Ambassador</button>
        </div>
      </div>
    </div>

    <div class="container mt-5 carousel-container">
        <div id="testimonialCarousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row justify-content-center  align-items-stretch">
                <div class="col-md-4 col-lg-3 mb-4 d-flex">
                  <div class="card card-custom yellow w-100">
                    <div class="d-flex align-items-center mb-3">
                      <img
                        src="assets/pexels-olly-733872.jpg"
                        alt="Profile Image" class="profile-img">
                      <div>
                        <h5 class="card-title mb-0">Vaibhavi</h5>
                        <p class="mb-0 text-muted">Personal trainer</p>
                      </div>
                    </div>
                    <p class="card-text">
                      I had the pleasure of training with Vaibhavi over the past 2 months and the experience has been
                      transformative. I started gaining weight when I moved to Canada 8 years ago. And past 2 months with
                      Vaibhavi have been
                    </p>
                    <div class="rating">
                      <span>Gurmeet</span>
                      <span>⭐⭐⭐⭐⭐</span>
                    </div>
                  </div>
                </div>
    
                <div class="col-md-4 col-lg-3 mb-4 d-flex">
                  <div class="card card-custom green w-100">
                    <div class="d-flex align-items-center mb-3">
                      <img
                        src="assets/pexels-olly-733872.jpg"
                        alt="Profile Image" class="profile-img">
                      <div>
                        <h5 class="card-title mb-0">Sahana</h5>
                        <p class="mb-0 text-muted">Singing teacher</p>
                      </div>
                    </div>
                    <p class="card-text">
                      I'm glad I found Sahana as patient, friendly, and knowledgeable. Sahana is a vocal artist/teacher who
                      caters to my needs efficiently. I'm seeing improvement in my vocal health and singing.
                    </p>
                    <div class="rating">
                      <span>Mira</span>
                      <span>⭐⭐⭐⭐⭐</span>
                    </div>
                  </div>
                </div>
    
                <div class="col-md-4 col-lg-3 mb-4 d-flex">
                  <div class="card card-custom orange w-100">
                    <div class="d-flex align-items-center mb-3">
                      <img
                        src="assets/pexels-olly-733872.jpg"
                        alt="Profile Image" class="profile-img">
                      <div>
                        <h5 class="card-title mb-0">Komal</h5>
                        <p class="mb-0 text-muted">English teacher</p>
                      </div>
                    </div>
                    <p class="card-text">
                      She is a very good teacher. One class is equivalent to several classes of other teachers. The
                      efficiency is very high. In the first formal course, I saw that the children wrote a lot. I am very
                      happy to meet such an excellent teacher.
                    </p>
                    <div class="rating">
                      <span>Mira</span>
                      <span>⭐⭐⭐⭐⭐</span>
                    </div>
                  </div>
                </div>
    
    
              </div>
            </div>
            <!-- Second set of items in carousel -->
            <div class="carousel-item">
              <div class="row justify-content-center  align-items-stretch">
                <div class="col-md-4 col-lg-3 mb-4 d-flex">
                  <div class="card card-custom green w-100">
                    <div class="d-flex align-items-center mb-3">
                      <img
                        src="assets/pexels-olly-733872.jpg"
                        alt="Profile Image" class="profile-img">
                      <div>
                        <h5 class="card-title mb-0">Shambavi</h5>
                        <p class="mb-0 text-muted">Maths teacher</p>
                      </div>
                    </div>
                    <p class="card-text">
                      My son joined Rishi a month ago and I can already see lots of improvement in his chess game. Classes
                      are very interactive and productive. My child enjoys his chess classes. All thanks to his coach Rishi.
                      I really appreciate his
                    </p>
                    <div class="rating">
                      <span>Mira</span>
                      <span>⭐⭐⭐⭐⭐</span>
                    </div>
                  </div>
                </div>
    
                <div class="col-md-4 col-lg-3 mb-4 d-flex">
                  <div class="card card-custom orange w-100">
                    <div class="d-flex align-items-center mb-3">
                      <img
                        src="assets/pexels-olly-733872.jpg"
                        alt="Profile Image" class="profile-img">
                      <div>
                        <h5 class="card-title mb-0">Shambavi</h5>
                        <p class="mb-0 text-muted">Maths teacher</p>
                      </div>
                    </div>
                    <p class="card-text">
                      My son joined Rishi a month ago and I can already see lots of improvement in his chess game. Classes
                      are very interactive and productive. My child enjoys his chess classes. All thanks to his coach Rishi.
                      I really appreciate his
                    </p>
                    <div class="rating">
                      <span>Mira</span>
                      <span>⭐⭐⭐⭐⭐</span>
                    </div>
                  </div>
                </div>
    
                <div class="col-md-4 col-lg-3 mb-4 d-flex">
                  <div class="card card-custom green w-100">
                    <div class="d-flex align-items-center mb-3">
                      <img
                        src="assets/pexels-olly-733872.jpg"
                        alt="Profile Image" class="profile-img">
                      <div>
                        <h5 class="card-title mb-0">Saloni</h5>
                        <p class="mb-0 text-muted">French teacher</p>
                      </div>
                    </div>
                    <p class="card-text">
                      From the first class itself, I’m happy with how it went with Saloni. We talked about a plan that fits
                      my goals perfectly. Her course materials are perfect. She’s organized, easy to talk to, and knows her
                      stuff. I’d definitely recommend her if
                    </p>
                    <div class="rating">
                      <span>Mira</span>
                      <span>⭐⭐⭐⭐⭐</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    
          <!-- Controls -->
          <a class="carousel-control-prev" href="#testimonialCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <!-- <span class="sr-only">Previous</span> -->
          </a>
          <a class="carousel-control-next" href="#testimonialCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <!-- <span class="sr-only">Next</span> -->
          </a>
        </div>
      </div>
  </div>

  <!-- feeed back section  -->
 
